// $font-1st: 'Jost', sans-serif;
// $font-2nd: 'Jost', sans-serif;
// $font-1st: 'muli', sans-serif;
// $font-2nd: 'muli', sans-serif;
$font-1st: 'Lato', sans-serif ;
$font-2nd: 'Lato', sans-serif;

$document-font-size: 16px;
$i: unquote("!important");